/* --- GLOBAL --- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lexend Peta", serif;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: darksalmon;
}

/* --- HEADER --- */

header {
  margin-bottom: 60px;
}

.logo-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}

#logo {
  margin: 0;
  padding-left: 60px;
  font-weight: bold;
  font-size: 22px;
}

#searchbox {
  margin-right: 60px;
}

.header-image {
  height: 350px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.068) 60%,
      rgba(0, 0, 0, 0.75)
    ),
    url(horse.jpg);
  background-position: 50% 28%;
  background-size: cover;
}

nav {
  padding: 10px 0;
}

.hamburger {
  display: none;
}

.hamburger-icon {
  width: 30px;
  margin: 10px auto 0 auto;
  cursor: pointer;
  display: none;
}

.line {
  height: 4px;
  width: 30px;
  background-color: #ff0000;
  margin-bottom: 4px;
}

ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

ul li {
  padding: 10px, 0;
}

nav a {
  text-decoration-line: none;
  color: #ff0000;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: brown;
}

/*--- FRONT- PAGE --- */

.contact-info {
  display: flex;
}

.contact-info__left,
.contact-info__right {
  width: 50%;
}

table {
  margin: 0 auto;
  line-height: 160%;
}

.contact-info__left table tr td:first-child {
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
}

iframe {
  height: 450px;
  width: 100%;
}

/*--- GALLERY --- */

.gallery-content {
  display: flex;
  flex-wrap: wrap;
}

.gallery .image-wrapper {
  flex-basis: 28%;
  margin-left: 4%;
  margin-bottom: 40px;
}

.gallery img {
  object-fit: cover;
  width: 100%;
}

/*--- LOGIN --- */

.login-info {
  position: flex;
  padding-bottom: 25%;
}

.login-info table tr td:first-child {
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
}

/*--- FOOTER --- */

footer {
  background-color: lightcoral;
  border: 2px solid darkred;
}

footer p {
  text-align: center;
}
